/* Geral */
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,500italic,700,400";
{font-family: "Open Sans", "Sans-Serif"}

/* Títulos */
h2 { 
    color: black;
    font-size: 26px;
    font-weight: normal;
    line-height: 34px;
 }

form h2 {
    margin: 0;
    padding: 30px 20px;
}

 .subtitle {
     color: #a9a9a9;
     font-size: 18px;
     line-height: 150%;
 }

 .notes {
     font-size: 12px;
     color: gray;
}

/* formulario */
form, button {
    font-size: 16px;
    font-family:  "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
